*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:  rgb(201, 201, 161);
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    justify-content: space-between;
    font-size: 18px;
    background-color: rgb(184, 184, 110);
    color: rgb(36, 34, 34);
    font-weight: bold;
}

.nav-logo {
    justify-content: flex-start;
    width: 60vw;
    padding: 10px 30px;
}

.menu{
    justify-content: space-around;
    width: 40vw;
    padding: 10px;
    height: inherit;
}

.nav-logo:hover{
    font-size: 1.2em;
}

.menu > ul{
    list-style: none;
}

.menu >ul>li {
    padding: 0 10px;
    line-height: 2;
}

.sub-menu{
    list-style: none;
    flex-direction: column;
    position:absolute;
    background-color: rgb(184, 184, 110);
    padding-top: 10px;
    padding: 10px 20px;
    line-height: 2;
    font-size: 0.9em;
    display: none;
}

.menu li:hover{
    font-size: 1.1em;
    color: rgb(82, 82, 204);
}

.menu >ul>li:first-child {
    border-left: 1px solid rgb(146, 146, 85);
}
.menu >ul>li {
    border-right: 1px solid rgb(146, 146, 85);
}

.menu>ul>li:hover .sub-menu {
    display:block;
    color: rgb(36, 34, 34);
}

.sub-menu li{
    border-bottom: 1px solid rgb(146, 146, 85);
}
.sub-menu li:last-child{
    border-bottom: none;
}


/*BODY*/
.coluna h2{
    margin-top: 40px;
}


.coluna {
    flex-direction: column;
}

.topo {
    margin-top: 40px;
}

.topo img{
    width: 400px;
    border-radius: 10px;
}

.topo div{
    padding: 40px;
}

.imagens {
    margin-top: 30px;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 90vw;
}

.imagens img{
    width: 17vw;
    margin: 5px;
    border: 5px solid rgb(146, 146, 85);;
    border-radius: 10px;
}

.imagens img:hover{
    position: relative;
    z-index: 2;
    transform: scale(1.5);
}


@media (max-width: 700px){
    .nav-logo{
        display: none;
    }
    
    .menu {
        width: 100vw;
    }

    .menu-lista {
        display: flex;
        flex-direction: column;
    }
    .menu-lista li{
        text-align: center;
        margin: 0px 0px;
        width: 100%;
    }
    .topo {
        flex-direction: column;
    }

    .imagens {
        flex-direction: column; 
    }

    .imagens img {
        width: 70vw;
    }

    .imagens img:hover{
        transform: scale(1);
    }
}